<h3>提交资料申请活动： <%= @job.title %></h3>
<hr>
<%= simple_form_for [@job, @resume] do |f| %>
<%= f.input :content, :label=> "自我介绍" %> </br>
<%= f.input :attachment,:label=>"添加附件"%></br>
<%= f.submit "提 交"%>
<% end %>
